extends layouts/layout

block content
  .app-content
    .u-s-p-y-60
      .section__content
        .container
          .row
            .col-lg-12.col-md-12.u-s-m-b-30
              .empty
                .empty__wrap
                  span.empty__big-text OORDER ID 
                  h2 #{msg}
                  a.empty__redirect-link.btn--e-brand(href="/buyer/dashboard") Go To Account