.banner-bg
  .section__content
    .container
      .row
        .col-lg-12
          .banner-bg__countdown
            .countdown.countdown--style-banner(data-countdown="2020/05/01")
          .banner-bg__wrap
            .banner-bg__text-1
              span.u-c-white Global
              span.u-c-secondary Offers
            .banner-bg__text-2
              span.u-c-secondary Official Launch
              span.u-c-white Don't Miss!
            span.banner-bg__text-block.banner-bg__text-3.u-c-secondary Enjoy Free Shipping when you buy 2 items and above!
            a.banner-bg__shop-now.btn--e-secondary Shop Now
  