.modal.fade#dash-newsletter
  .modal-dialog.modal-dialog-centered
    .modal-content.modal--shadow
      .modal-body
        form.d-modal__form
          .u-s-m-b-15
            h1.gl-modal-h1 Newsletter Subscription
            span.gl-modal-text I have read and understood
            a.d_modal__link  Privacy Policy
          .gl-modal-btn-group
            button.btn.btn--e-brand-b-2( type="submit") SUBSCRIBE
            button.btn.btn--e-grey-b-2(type="button" data-dismiss="modal") CANCEL
          